body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
}

.image-grid {
    text-align: center;
    margin-bottom: 1rem;
}

img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
    width: 300px;
    height: 300px;
}

.btn {
    width: 100px;
    height: 40px;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.5);
}

.btn:hover {
    background-color: violet;
}